{% extends "base.html" %}

{% block title %}School Info App - Capture{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Capture Information</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upload PDF</h5>
                    <form method="post" enctype="multipart/form-data" action="{% url 'capture:process_pdf_upload' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="file" class="form-control" name="pdf_file" accept=".pdf">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload PDF</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Enter Text Information</h5>
                    <form action="{% url 'capture:process_text_info' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="textInput" class="form-label">Type information:</label>
                            <textarea class="form-control" id="textInput" name="text" rows="5" placeholder="Enter school event details here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}